{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>Welcome To Taskmate!</title>
{% endblock title %}

 {% block content %}
    <div class="container mt-4">
        <div class="row mt-5">
            <div class="col-lg-4">
                <img src="{% static 'images/workshop-2Kqhw3qST0o-unsplash.jpg' %}" alt="Notes" class="rounded-lg shadow" width="400" height="300" >
            </div>
            <div class="col-lg-4">
                <img src="{% static 'images/kaleidico-wnf_LJiJG0E-unsplash.jpg' %}" alt="Notes" class="rounded-lg shadow" width="400" height="300" >
            </div>
            <div class="col-lg-4">
                <img src="{% static 'images/todo.jpg' %}" alt="Notes" class="rounded-lg shadow" width="400" height="300" >
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-10 offset-md-1">
                <center><p class="h1 text-primary">Quick and Easy to Use, Anytime, Anywhere</p></center>
                <center><p class="h2 mt-3">Plan Your Day Better, Get Your Life Organized</p></center>
                <center><p class="h5">TASKMATE Lets You Keep Track Of Your Task In One Place.</p></center>

                <center><a href="{% url 'todolist' %}"></a><button type="button" class="btn btn-primary btn-lg mt-3 shadow">Let's Get Started</button></a></center>

            </div>
        </div>
    </div>
 {% endblock content %}
