{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title> Register - Taskmate</title>
{% endblock title %}

 {% block content %}
    <div class="container mt-4">
        </br>
        <h2>Register On TaskMate</h2>
          {% if messages %}
              {% for message in messages %}
                  <div class="alert alert-primary alert-dismissible fade show" role="alert">
                     {{ message}}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
              {% endfor %}
          {% endif %}

        <form method="POST" class="mt-5 col-6">
            {% csrf_token %}
            {{ register_form|crispy }}
            <button class="btn btn-primary mb-5" type="submit">Register</button>
        </form>
    </div>
 {% endblock content %}